.body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5px;
}

*:focus {
  outline: #ff7500 dotted 2px;
  outline-offset: 3px;
}

.site-header {
  background-color: #fff;
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 5px solid #ff7500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  transition: opaciyt 0.4s ease;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.site-header-actions {
  display: flex;
  align-items: center;
}

.sitenav-list {
  margin: 0;
  list-style: none;
  display: flex;
}

.sitenav-item {
  margin: 32px;
}

.sitenav-link {
  font-family: roboto;
  font-style: medium;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
  padding: 0;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease, opacity 0.4s ease;
}

.sitenav-link:hover {
  color: #ff7500;
}

.sitenav-link:active {
  opacity: 0.6;
}

.main-link {
  display: inline-block;
  border-radius: 4px;
  padding: 12px 24px;
  font-weight: bold;
  background-color: #ff7500;
  font-family: roboto;
  font-style: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #fff;
  transition: 0.4s ease;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #252420;
  color: #fff;
}

.hero-content {
  align-items: center;
  width: 390px;
}

.hero-line {
  width: 80px;
  height: 3px;
  border: 0;
  margin: 0;
  margin-bottom: 32px;
  background-color: #ff7500;
}

.hero-img {
  border-radius: 8px;
  width: 510px;
  height: 510px;
}

.hero-heading {
  font-family: Roboto Condensed;
  font-style: bold;
  font-size: 40px;
  line-height: 48px;
  margin: 0;
  margin-bottom: 32px;
  letter-spacing: 0.5px;
}

.hero-text {
  font-family: Roboto;
  font-style: Regular;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 32px;
  letter-spacing: 0.5px;
}

.features {
  background-color: #fff;
  padding-top: 210px;
  padding-bottom: 210px;
}

.features-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: space-between;
}

.features-heading {
  font-family: Roboto Condensed;
  font-style: bold;
  font-size: 72px;
  line-height: 86px;
  margin-top: 0;
  margin-bottom: 72px;
  letter-spacing: 0.5px;
}

.feature-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.features-heading-item {
  font-family: Roboto Condensed;
  font-style: bold;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.5px;
}

.features-text {
  font-family: Roboto;
  font-style: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.features-icon {
  width: 340px;
}

.aksiya {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  background-color: #252420;
  width: 1100px;
}

.promo-content {
  width: 440px;
}

.aksiya-heading {
  font-family: Roboto Condensed;
  font-style: bold;
  font-size: 40px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 24px;
  letter-spacing: 0.5px;
  color: #fff;
}

.promo-info-wrapper {
  margin-bottom: 12px;
}

.aksiya-text:last-child {
  margin-bottom: 0;
}

.aksiya-text {
  font-family: Roboto;
  font-style: regular;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #fff;
}

.spasing {
  color: #ff7500;
}

.aksiya-img {
  width: 440px;
  height: 440px;
  border-radius: 12px;
  object-fit: cover;
}

.footer {
  padding-top: 56px 56px;
  background-color: #f8f8f8;
}

.footer ul {
  list-style: none;
}

.footer-content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socil {
  padding: 0;
  display: flex;
}

.site-footer-divider {
  border: 0;
  height: 2px;
  margin-top: 40px;
  margin-bottom: 64px;
  background-color: rgba(32, 36, 32, 0.5);
}

.site-footer-buttom {
  display: flex;
}

.site-footer-links:last-child {
  margin: 0;
}

.site-footer-links {
  padding: 0;
  width: 224px;
  margin: 0;
  margin-right: 68px;
  list-style: none;
  line-height: 19px;
}

.site-footer-links a {
  font-family: Roboto;
  font-style: Regular;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #252420;
}

.site-footer-links a:hover {
  color: #ff7500;
}

.site-footer-links a:active {
  opacity: 0.6;
}
